@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

body {
    font-family: 'Protest Riot', sans-serif !important; 
    background-color: rgb(83, 168, 248) !important;
}
.wrapper {
    padding: 40px 0px;
    max-width: 800px;
    margin: 0 auto;
}
.h3 {
    font-family: 'Protest Riot', sans-serif !important; 
}
.logo {
    font-family: 'Protest Riot', sans-serif !important; 
    font-weight: 400px;
    margin: 20px 10px;
}
.true {
    color: white !important;
}
.btnSubmit {
    margin: 20px 0px;
}
.note {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}
.toDoBtns {
    display: flex;
    align-items: center !important;
    gap: 10px;
}
.del {
    display: flex !important;
    align-items: center !important;
    box-sizing: border-box !important;

}
.btn {
    color: white !important;
}
.formInput {
    margin: 0 !important;
    padding: 15px;
    box-sizing: border-box !important;
}
.textToDo.active {
    text-decoration: line-through !important;
}